.container_flex {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container_flex2 {
  display: flex;
  justify-content: center;
}

.container_colum {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* จัดตำแหน่งในแนวตั้ง */
  justify-content: flex-start; /* จัดตำแหน่งในแนวนอน */
}

.image {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.itembox1 {
  /* margin-bottom: 10px; */
  width: 30vw;
  height: 60vh;
  /* background-color: lightblue;
  border: 1px solid black; */
  /* align-items: center; */
}

.itembox2 {
  /* margin-bottom: 10px; */
  width: 60vw;
  height: 60vh;
  /* background-color: lightblue;
  border: 1px solid black; */
  /* align-items: center; */
}

.itembox3 {
  padding: 10px;
  /* margin-bottom: 10px; */
  width: 30vw;
  height: 34vh;
  background-color: lightblue;
  border: 1px solid black;
  align-items: center;
}

.itembox4 {
  padding: 10px;
  /* margin-bottom: 10px; */
  width: 60vw;
  height: 34vh;
  background-color: lightblue;
  border: 1px solid black;
  align-items: center;
}

.item2 {
  padding: 10px;
  width: 30vw;
  height: 40vh;
  background-color: lightblue;
  border: 1px solid black;
  align-items: center;
}

.flex-container {
  display: flex;
  justify-content: space-between; /* จัดวัตถุให้อยู่ตามขอบซ้ายและขอบขวาของคอนเทนเนอร์ โดยมีระยะห่างเท่ากัน */
}
